
<div class="country-info">
    <h2 class="country-info__name"><img src="{{flag}}" alt="{{name}}" class="country-list__image" />
     {{name}}</h2>
     <p class="country-info__info"><span class="country-info__strong">Capital:</span> {{capital}}</p>
     <p class="country-info__info"><span class="country-info__strong">Population:</span> {{population}}</p>
     <p class="country-info__info"><span class="country-info__strong">Languages:</span> {{stringLanguages}}</p>

</div>